# Ignore environment variable files
.env

# Ignore build output
dist/
build/

# Ignore dependency directories
.DS_Store
.vscode/
.idea/
*.swp

# Ignore system files
Thumbs.db
*.bak
*.tmp

# Ignore Git files
.git/
# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
rabies/
.env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore coverage reports
htmlcov/
.coverage
*.cover

# Ignore pytest cache
.pytest_cache/

# Ignore mypy cache
.mypy_cache/

# Ignore logs and temporary files
*.log
*.tmp